body{
    margin: 0;
    padding: 0;
}

#progressDiv {
    height: 500px;
    width: 100%;
    position: relative;
    display: none;
}

#progressDiv > div {
    height: 100%;
}

#searchSection{
    text-align: center;
}

#searchSection > div.input{
    width: 50%;
    padding-bottom: 10px;
}

#searchTab{
    overflow: auto;
    border:0;
    width: 90%;
    left:5%;
}

*, :after, :before {
    -webkit-box-sizing: initial;
    box-sizing: initial;
}

.transparency-slider-container {
    border: none;
}


#logoImg {
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
}

#mainTabMenu {
    margin: 0;
}

#pageHeader{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0 !important;
}