/*@import "../../node_modules/protvista/style/main.css";*/
/*@import "../../node_modules/litemol   /dist/css/LiteMol-plugin-light.css";*/
@import "protvista-imputed.css";
@import "LiteMol-plugin-light-imputed.css";

@import "../../node_modules/semantic-ui-label/label.min.css";
@import "../../node_modules/semantic-ui-dropdown/dropdown.min.css";
@import "../../node_modules/semantic-ui-transition/transition.min.css";
@import "../lib/semantic-ui-range/range.css";

/* padding so that track headers do not interfere with arrows */
.up_pftv_track-header, .up_pftv_category-name {
    padding-right: 25px;
}

.pv-inner-container {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    position: relative;
    /*white-space: nowrap;*/
}

.pv-inner-container .logo {
    position: absolute;
    z-index: 1000;
    left: 5px;
    top: 4px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    /*font-weight: bold;*/
    /*padding: 5px;*/
    /*border-radius: 5px;*/
}

.pv-inner-container .logo a {
    text-decoration: none;
}

.pv3d-pv {
    height: 100%;
    min-width: 400px;
}



.pv3d-lm {
    min-width: 400px;
}

.pv3d-invisible {
    display: none;
}

.pv3d-div-table{
    display: table;
}

.pv3d-div-table-column{
    display: table-row;
}


.pv3d-div-table-column{
    display: table-column;
}


.pv3d-svg-icon {
    fill: rgba(0, 0, 0, 0.5);
    cursor: pointer !important;
}

.up_pftv_container .pv3d-svg-icon{
    position: absolute;

}

.up_pftv_container .pv3d-svg-icon.selected {
    fill: rgba(0, 0, 0, 1);
}

.pv3d-lm-transparency-slider {
    width: 100%;
}

.pv3d-header {
    position: absolute;
    z-index: 100;

    padding-top: 5px;
    padding-bottom: 3px;

    border-bottom: 1px dotted lightgray;
    margin-bottom: 3px;
}

.pv3d-header *{
    vertical-align: middle;
    box-sizing: border-box;
}

.pv3d-header .label{

    font-size: 13px;
}


.pv3d-header-pv, .pv3d-header-lm{
    display: inline-block;
    width: 100%;
}

.pv3d-header-pv {
    text-align: right;
    background-color: white;
}


.pv3d-content.pv-container {
    width: 100%;
    position: absolute;
}

.pv3d-content.lm-container {
    width: 50%;
    position: absolute;
    top: 0;
}


.pv3d-footer {
    padding-left: 5px;
    padding-right: 5px;
}

.pv3d-header, .pv3d-footer {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;

    box-sizing: border-box;
}

.pv3d-header-pv .unp-link{
    display: inline-block;
    float: right;
}


.pv3d-header-lm .lm-list{
    display: inline-block;
}

/* !IMPORTANT needed to overwrite the semantics ui styles*/
.pv3d-header-lm .dropdown input{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.pv3d-header-lm .dropdown.icon {
    top: 4px !important;
}

.pv3d-header-lm .selection.dropdown{
    min-height: 0;
    min-width: 95px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 13px;
}

.pv3d-header-lm .selection.dropdown .menu>.item {
    font-size: 13px;
}

.pv3d-header-lm .pv3d-svg-icon {
    position: relative;
    height: 25px;
    width: 25px; /* IE needs both width and height */
    fill: #c2c2c2;
    display: inline; /* For example vuetify sets display:block for all svg elements which causes the arrows to be placed in separate rows making the header three times as high as it should be */
}

.pv3d-header .pdb-link{
    display: inline-block;
    left:0;
}


.pv3d-pv{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: calc(50% - 2px);
}

.pv3d-split-bar{
    vertical-align: top;
    height:100%;
    display: inline-block;
    width: 4px;
    background: transparent;
    cursor: col-resize;
}

.pv3d-lm{
    vertical-align: top;
     position: relative;
     display: inline-block;
     width: calc(50% - 2px);
     height: 100%;
     top:0
 }

.pv3d-content .lm-component-container{
    position: relative;
}

.pv3d-footer  .pv3d-lm-transparency-slider {
    vertical-align: middle;
}

.pv3d-pv-bars{
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.pv3d-pv-structure-bar, .pv3d-pv-highlight-bar{
    position: absolute;
    top: 0;
    height:100%;
    display: none;
}

.pv3d-pv-highlight-bar{
    background-color: rgba(255, 255, 0, 0.5);
}

.pv3d-pv-structure-bar{
    background-color: rgba(0, 0, 0, 0.1);
}

.error-message-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    color: white;
    text-align: center;
    display: none;
}

.error-message {
    position: relative;
    top: 50%;
    font-weight: bold;
}


.ui.range .inner .thumb {
    width: 15px;
    height: 15px;
    top: 2.5px;
}



.pv3d-button {
    font-size: 17px;
    /*padding-top: 2px;*/
    background:rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 3px;
    text-align: center;
}

.pv3d-button:hover {
    background: rgba(0, 0, 0, 0.4);
}

.pv3d-download{
    float: right;
    padding-top:3px;
    margin-right:10px;
}

.user-highlights {
    /*float: right;*/
    padding-top:3px;
    margin-right:10px;
    background-color: rgba(50,50,50,0.3);
}

.pv3d-download>svg{
    width: 13px;
    height: 13px;
}

.pv3d-download>svg path{
    fill: rgba(0, 0, 0, 0.6);
}

.pv3d-download>svg:hover path{
    fill: rgba(0, 0, 0, 1);
}

.pv3d-error-close-button {
    color: #f6f5f3;
    font-sze: 20px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
}

.pv3d-error-close-button:after {
    content: '✖'; /* UTF-8 symbol */
}

.pv3d-lm .user-highlights div.item.selected{
    font-weight: bold;
}

.pv3d-loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: white;
    text-align: center;
}

.pv3d-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: pv3d-spin 2s linear infinite;
}

@keyframes pv3d-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.up_pftv_category-name {
    vertical-align: inherit;
}



